<h1>Welcome to your Dashboard, {{username}}!</h1>
{{#if blogs.length}}
  <div class="blog-list">
    <h3 style="font-size:x-large">Current Blogs:</h3>

    {{#each blogs as |blog|}}
    <div class="blog"b>
        <h3><a href="/api/blogs/{{blog.id}}">{{blog.title}}</a></h3>
        <button class = "deleteBtn" data-id="{{blog.id}}">Delete</button>
    </div>
    {{/each}}
  </div>
  {{/if}}

   <h3 style="font-size:x-large">Create a New Blog:</h3>

    <form id="blogForm">
      <div class="form-group">
        <input class="form-input" type="text" id="blog-title" name="blog-title" placeholder="Blog Title" />
      </div>
      
      <div class="form-group">
        <textarea class="form-input" id="blog-content" name="blog-content" placeholder="Blog Content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>

<script src="/js/dashboard.js"></script>