<h1>Welcome to your Dashboard {{username}}</h1>
{{#if blogs.length}}
  <div class="blog-list">
    <h3>Current Blogs:</h3>

    {{#each blogs as |blog|}}
        <h4><a href="/api/blogs/{{blog.id}}">{{blog.title}}</a></h4>
        <button id = "deleteBtn" data-id="{{blog.id}}">DELETE</button>
    {{/each}}
  </div>

    < <h3>Create a New Blog:</h3>

    <form class="form new-blog-form">
      <div class="form-group">
        <input class="form-input" type="text" id="blog-title" name="blog-title" placeholder="Blog Title" />
      </div>
      
      <div class="form-group">
        <textarea class="form-input" id="blog-desc" name="blog-desc" placeholder="Blog Content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>

  {{/if}}