<h3 style="font-size:x-large">Login:</h3>
<form id="login">
      <input
        type="text"
        class="form-control"
        id="loginUser"
        placeholder="username"
      />
      <input
        type="password"
        class="form-control"
        id="loginPassword"
        placeholder="password"
      />
  <button type="submit">Login</button>
</form>

<hr />

<h3 style="font-size:x-large">Sign Up:</h3>
<form id="signup">
      <input
        type="text"
        class="form-control"
        id="signupUser"
        placeholder="username"
      />
      <input
        type="text"
        class="form-control"
        id="signupPassword"
        placeholder="password"
      />
  <button type="submit">Signup</button>
</form>

<script src="/js/login.js"></script>